@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Machine

<h2>Machine Details</h2>
<hr />
<h3>@Html.LabelFor(model => model.MachineName, "Machine Name: ") @Html.DisplayFor(model => model.MachineName)</h3>
<h3>@Html.LabelFor(model => model.InstallDate, "Install Date: ") @Html.DisplayFor(model => model.InstallDate)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>There are no Engineers licensed for this Machine.</p>
}
else
{
  <h4>Engineers licensed for this Machine:</h4>
  <ul>
  @foreach(EngMach join in Model.JoinEntities)
  {
    <li>@join.Engineer.EngineerName</li>
    <li>@join.Engineer.HireDate</li>

@using (Html.BeginForm("DeleteJoin", "Machines"))
{
  @Html.Hidden("joinId", @join.EngMachId)
  <input type="submit" value="Delete"/>
}
  }
  </ul>
}


<p>
  @Html.ActionLink("Add an Engineer", "AddEngineer", new { id = Model.MachineId }) |
  @Html.ActionLink("Edit", "Edit", new { id = Model.MachineId }) |
  @Html.ActionLink("Delete", "Delete", new { id = Model.MachineId })
  <hr>
  <br>
  @Html.ActionLink("Back to the list of Machines", "Index") |
  @Html.ActionLink("Back Home", "Index", "Home")
</p>