@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this Machine: @Html.DisplayFor(model => model.MachineName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.MachineId)

  @Html.LabelFor(model => model.MachineName, "Machine Name: ")
  @Html.EditorFor(model => model.MachineName)

  @Html.LabelFor(model => model.InstallDate, "Install Date: ")
  @Html.EditorFor(model => model.InstallDate)

  <input type="submit" value="Save" />
}
<hr>
<p>
  @Html.ActionLink("Back to list of Machines", "Index") |
  @Html.ActionLink("Return Home", "Index", "Home")
</p>